.o_web_client .o_openg2p_beneficiary_kanban {

  .o_follow_btn.o_following {
    .o_unfollow {
      display: none;
    }

    &:hover {
      .o_following {
        display: none;
      }

      .o_unfollow {
        display: inline;
      }
    }
  }

  .o_beneficiary_summary_icons > span {
    white-space: nowrap;
  }
}
