<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="queue_job.menu_queue_job_root" model="ir.ui.menu">
        <field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
    </record>

        <record id="base_rest.menu_rest_api" model="ir.ui.menu">
        <field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
    </record>

    </data>
</odoo>