<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_openg2p_process_options"
              name="OpenG2P Process"
              sequence="1"
              web_icon="openg2p_process,static/description/icon.png" />


    <menuitem id="menu_openg2p_process"
              name="OpenG2P Processes"
              action="action_openg2p_process"
              parent="menu_openg2p_process_options"
              sequence="9"/>

    <menuitem id="menu_openg2p_process_type"
              name="OpenG2P Process Type"
              action="action_openg2p_process_type"
              parent="menu_openg2p_process_options"
              sequence="10"/>


</odoo>